<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snippet.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= raw Pygments.highlight(@snippet.code, lexer: @snippet.language) %>
</p>

<p>
  <strong>Code:</strong>
  <%= @snippet.code %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
